html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-app); /* Фон из переменных */
}
/* ============================================================================ */
/* КОНТЕЙНЕР ДЛЯ СТРАНИЦЫ  */
/* сделал, чтобы центрировать карточку */
/* обычно при авторизации по центру есть фигура с закругленными рамками */
/* ============================================================================ */
.page {
  background-color: var(--bg-app); /* Фон из переменных */
  font-family: var(--text-primary);

  display: flex; /* Включаем гибкую верстку */
  padding: 20px; /* Отступы от краев на мобильных */

  align-items: center; /* Центрируем по вертикали */
  justify-content: center; /* Центрируем по горизонтали */

  flex-direction: column;
  height: 100vh; /* Минимальная высота - весь экран */
  width: 100%;
}

/* ============================================================================ */
/* КОНТЕЙНЕР ДЛЯ ГЛАВНОЙ СТРАНИЦЫ */
/* ============================================================================ */
.page-home {
  font-family: var(--text-primary);
  background-color: var(--bg-app); /* Фон из переменных */

  display: flex; /* Включаем гибкую верстку */

  /* 100% экрана */
  height: 100vh !important;
  width: 100vw !important;

  justify-content: center; /* Центрируем по горизонтали */
  /* запрещаем прокрутку и выход за экран */
  overflow: hidden !important;
}

/* ============================================================================ */
/* КОНТЕЙНЕР ДЛЯ СТРАНИЦЫ ДЕТАЛИЗАЦИИ */
/* ============================================================================ */
.page-detail {
  font-family: var(--text-primary);
  background-color: var(--bg-app); /* Фон из переменных */

  display: flex; /* Включаем гибкую верстку */
  padding: 20px; /* Отступы от краев на мобильных */

  align-items: center; /* Центрируем по вертикали */
  flex-direction: column;

  min-height: 100vh; /* Минимальная высота - весь экран */
  width: 100%;
}
