/* ============================================================================ */
/* ДЛЯ ГРУППИРОВКИ КНОПОК */
/* ============================================================================ */
.group-btn {
  display: flex; /* гибкие элементы */
  flex-direction: row; /* элементы горизонтально */
  gap: 10px; /* расстояние между элементами  */
  width: 100%;
}
/* ============================================================================ */
/* КНОПКА ДЕЙСТВИЯ */
/* ============================================================================ */
.btn {
  font-weight: bold;
  width: 100%;
  padding: 12px;
  background-color: var(--primary-color);
  color: var(--white);
  font-size: 18px;
  border-radius: var(--radius-md);
  margin-top: 10px; /* отступ сверху */
  box-shadow: var(--shadow-md); /* Тень для объема */

  text-align: center;
  /* зададим время для анимации */
  transition:
    transform 0.2s,
    background-color 0.2s;
}

/* ============================================================================ */
/* ЭФФЕКТ ПРИ НАВЕДЕНИИ */
/* ============================================================================ */
.btn:hover {
  /* делаем кнопку немного темнее */
  background-color: var(--primary-hover);
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

/* ============================================================================ */
/* АДАПТАЦИЯ ДЛЯ МОБИЛЬНЫХ УСТРОЙСТВ */
/* ============================================================================ */
@media (max-width: 768px) {
  .group-btn {
    flex-direction: column;
  }
}
