
/* ============================================================================ */
/*  ТАБЛИЦА */
/* ============================================================================ */
.detail-table {
  /* сверху справа снизу слева */
  margin: 20px 0 0 0;
  width: 100%;
  border-collapse: collapse; /* Убирает двойные рамки */
  font-family: sans-serif;
}
/* ============================================================================ */
/* СТРОКИ И СТОЛБЦЫ */
/* ============================================================================ */
.detail-table th,
.detail-table td {
  font-size: 18px;
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}