/* ============================================================================ */
/*  ПОЛЕ НАЗВАНИЕ */
/* ============================================================================ */
.detail-title {
  /* сверху справа снизу слева */
  margin: 0 0 8px 0;
  width: 100%; /* растягивание по ширине */
  font-size: 36px;
  font-family: inherit;
}

/* ============================================================================ */
/*  ПОЛЕ ОПИСАНИЕ */
/* ============================================================================ */
.detail-description {
  /* сверху справа снизу слева */
  margin: 0 0 8px 0;
  width: 100%; /* растягивание по ширине */
  font-size: 18px;
  font-family: inherit;
}

.ud-btn {
  margin-top: auto;
  display: flex;
  gap: 10px; /* расстояние между соседями */
}
