
/* ============================================================================ */
/*  ПОЛЕ НАЗВАНИЕ */
/* ============================================================================ */
.detail-title {
  /* сверху справа снизу слева */
  margin: 0 0 8px 0;
  width: 100%; /* растягивание по ширине */
  font-size: 36px;
  font-family: inherit;
}

/* ============================================================================ */
/*  ПОЛЕ ОПИСАНИЕ */
/* ============================================================================ */
.detail-description {
  /* сверху справа снизу слева */
  margin: 0 0 8px 0;
  width: 100%; /* растягивание по ширине */
  font-size: 18px;
  font-family: inherit;
}

/* ============================================================================ */
/* ВВОД ПРИ РЕДАКТИРОВАНИИ */
/* ============================================================================ */
.edit-input {
  border: 1px solid #ddd; /* рамочка */
  padding: 12px 15px; /* внутренний отступ */
  border-radius: var(--radius-md); /* скругление углов*/
}

/* ============================================================================ */
/* ЭФФЕКТ ФОКУСА */
/* кликаем на поле и оно подсвечивается */
/* ============================================================================ */
/* Эффект при клике на поле */
.edit-input:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* ============================================================================ */
/* ВЫБОР СТАТУСА ПРИ РЕДАКТИРОВАНИИ */
/* ============================================================================ */
.edit-select {
  font-size: 18px; /* сделал такой же размер текста как у исходника */
  border: 0px; /* уберу рамку */
  outline: none;
}

.ud-btn {
  margin-top: auto;
  display: flex;
  gap: 10px; /* расстояние между соседями */
}