/* ============================================================================ */
/* КОНТЕЙНЕР ДЛЯ ПЛАВАЮЩИХ КНОПОК */
/* ============================================================================ */
.floating-btns {
  /* вырываемся из нормального потока документа */
  position: absolute;
  /* теперь другие элементы будут думать, что этих элементов не существует */
  bottom: 20px; /* Отступ снизу */
  right: 20px; /* Отступ справа */
  z-index: 1500; /* Чтобы быть выше карты (Leaflet использует z-index до 1000) */
  display: flex;
  gap: 10px; /* расстояние между соседями */
}

/* ============================================================================ */
/* МЕНЮ КНОПОК */
/* ============================================================================ */
.btns-menu {
  background-color: var(--bg-sidebar); /* Цвет фона */
  display: flex; /* гибкие элементы */
  flex-direction: row; /* элементы горизонтально */
  gap: 10px; /* расстояние между соседями */
  border-radius: var(--radius-lg);
  padding: 5px;
  box-shadow: var(--shadow-md); /* Тень для объема */
}
/* ============================================================================ */
/* КРУГЛАЯ КНОПКА */
/* ============================================================================ */
.circle-btn {
  flex-shrink: 0;

  width: 50px; /* Ширина */
  height: 50px; /* Высота  */

  /* белая инвертированная кнопочка = черная кнопочка*/
  background-color: var(--white);

  cursor: pointer;
  border-radius: 50%; /* Делает кнопку круглой */
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: var(--shadow-md); /* Тень для объема */

  /* зададим время для анимации */
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.circle-btn:hover {
  transform: scale(1.05); /* Легкое увеличение при наведении */
}

.circle-btn:active {
  transform: scale(0.95);
}

/* ============================================================================ */
/* КРУГЛАЯ КНОПКА В КАРТОЧКЕ*/
/* ============================================================================ */
.card-circle-btn {
  flex-shrink: 0;

  width: 50px; /* Ширина */
  height: 50px; /* Высота  */

  /* белая инвертированная кнопочка = черная кнопочка*/
  background-color: var(--card-btn-color);

  border-radius: 50%; /* Делает кнопку круглой */
  border: none; /* рамка удалена */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  /* зададим время для анимации */
  transition:
    transform 0.2s,
    background-color 0.2s;
}

.card-circle-btn:hover {
  transform: scale(1.05); /* Легкое увеличение при наведении */
}

.card-circle-btn:active {
  transform: scale(0.95);
}

@media (prefers-color-scheme: dark) {
  .circle-btn {
    filter: invert(1);
  }
  .card-circle-btn {
    filter: invert(1);
  }
}
