/* ============================================================================ */
/* ПОЛЕ ВВОДА */
/* ============================================================================ */
.input {
  width: 100%; /* растягивание по ширине */
  padding:  12px 15px; /* внутренний отступ */
  border: 1px solid #ddd; /* рамочка */
  border-radius: var(--radius-md); /* скругление углов*/
  font-size: 18px;
  font-family: inherit;
  margin-bottom: 8px; /* это отступ */
}

/* ============================================================================ */
/* ЭФФЕКТ ФОКУСА */
/* кликаем на поле и оно подсвечивается */
/* ============================================================================ */
/* Эффект при клике на поле */
.input:focus {
  border-color: var(--primary-color);
  outline: none;
}