/* ============================================================================ */
/* КОНТЕЙНЕР КАРТЫ */
/* ============================================================================ */
.map-container {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative; /* относительное позиционирование  */
}

/* ============================================================================ */
/* ВЫКЛЮЧАЕТ ОТОБРАЖЕНИЯ ПОДПИСИ LEAFLET ПОД КАРТОЙ */
/* ============================================================================ */
.leaflet-control-attribution {
  display: none !important;
}