/* ============================================================================ */
/* КОНТЕЙНЕР PROGRESS BAR */
/* ============================================================================ */
.progress-position {
  /* вырываемся из нормального потока документа */
  position: absolute;
  /* теперь другие элементы будут думать, что этих элементов не существует */
  bottom: 20px; /* Отступ снизу */
  z-index: 2000; /* Чтобы быть выше карты (Leaflet использует z-index до 1000) */
  display: flex;
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
}
.progress-bar {
  background-color: var(--bg-sidebar); /* Цвет фона */
  padding: 10px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-md); /* Тень для объема */
}
