@import 'base/variables.css';
@import 'components/spinners.css';
@import 'components/button.css';
@import 'layout/page.css';
@import 'components/card.css';
@import 'components/floating-button.css';
@import 'components/map.css';
@import 'components/popup.css';
@import 'components/toast.css';
@import 'components/input.css';
@import 'components/footer.css';
@import 'components/home-button.css';
@import 'components/detail-table.css';
@import 'components/detail.css';
@import 'components/incident-card.css';

/* ============================================================================ */
/* НАСТРОЙКА БАЗОВЫХ СТИЛЕЙ */
/* ============================================================================ */
* {
  box-sizing: border-box; /* Чтобы padding не увеличивал ширину элементов */
  margin: 0; /* Убираем стандартные отступы браузера */
  padding: 0;
}

body {
  font-family: var(--font-sans); /* Используем наш шрифт */
  background-color: var(--bg-app); /* Светлый фон страницы */
  color: var(--main-text); /*  текст по умолчанию */
  line-height: 1.6; /* Удобное расстояние между строками текста */
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
  margin: 0;
  min-height: 100vh;
}

/* Стили для ссылок по умолчанию */
a {
  text-decoration: none; /* Убираем подчеркивание */
  color: var(--brand-primary);
  transition: color 0.2s; /* Плавное изменение цвета */
}

a:hover {
  color: var(--brand-primary-hover); /* Цвет при наведении */
}

/* ============================================================================ */
/* КНОПОЧКИ ПО УМОЛЧАНИЮ */
/* ============================================================================ */
button {
  font-family: var(--font-sans);
  cursor: pointer;
  border: none;
  outline: none;
}
